.profile {
    border: 1px solid white;
    margin: 20px;
}

.comments {
    height: auto;
    border: 1px solid red;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.subscribe {
    height: 50px;
    border: 1px solid white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.followersAmount {
    border: 1px solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;

}

.butsub.active {
    background-color: red;
}