.container {
    display: flex;
    justify-content: center;
    padding: var(--rem-for-all);
    border: 1px solid green;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;


}

.createPost {
    border: 1px solid white;
    width: 100%
}

.panel {
    border: 10px solid purple;
    max-width: 300px;
    width: 100%;
    align-items: center;


    display: flex;
    flex-direction: column;


}

.child1 {
    width: 30%;
    height: 100px;
    border: 1px solid white;
}

.child2 {
    width: 30%;
    height: 100px;
    border: 1px solid white;
}