.block {
    border: 1px solid gray;
    min-height: 200px;
    width: 100%;
    max-width: 300px;
    padding: 15px 10px 15px 10px;

    position: relative;
    transition: 0.2s;

}

.blockHeader {
    display: flex;
}

.header {
    white-space: normal;
    overflow-wrap: anywhere;
}

.blockHeader {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.img {
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.name {
    margin-bottom: 5px;
}

.block:hover {
    background-color: rgb(19, 19, 19);
    cursor: pointer;
    transition: 0.2s;
}

.blockComment {
    position: absolute;
    bottom: 0;
    display: flex;

    border: 1px solid white;
    height: 50px;
    max-width: 200px;
    width: 100%;
}




.input {
    height: 100%;
    padding: 10px;
    background-color: black;

}

.like {
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.like.liked {
    background-color: red;
}

.like:hover {
    background-color: red;

}

.blockLikes {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid yellow;
    align-items: center;
}

.blockLikes p:hover {
    text-decoration: underline;
}


.blockTextLikes {
    border: 1px solid red;
    position: relative;

}

.blockShowLIkes {
    position: absolute;
    height: auto;
    width: 500px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white(22, 22, 22);
    z-index: -1000;
    opacity: 0;

}

.blockShowLIkes.active {
    opacity: 1;
    z-index: 3000;



}