.block {
    border: 1px solid gray;
    min-height: 200px;
    width: 100%;
    max-width: 300px;
    padding: 15px 10px 15px 10px;

    position: relative;
    transition: 0.2s;

}

.blockHeader {
    display: flex;
}

.header {
    white-space: normal;
    overflow-wrap: anywhere;
}

.blockHeader {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.img {
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}

.name {
    margin-bottom: 5px;
}

.block:hover {
    background-color: rgb(19, 19, 19);
    cursor: pointer;
    transition: 0.2s;
}

.blockComment {
    position: absolute;
    bottom: 0;
    display: flex;

    border: 1px solid white;
    height: 50px;
    max-width: 200px;
    width: 100%;
}




.input {
    height: 100%;
    padding: 10px;
    background-color: black;

}